#main {
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  min-width: 245px;
  min-height: 245px;
  padding: 5%;
}
#overlay { /*https://www.w3schools.com/howto/howto_css_overlay.asp*/
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    /*transition: all 3s ease;*/
}
#overlay-text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    /*transition: all 7s ease;*/
}
.cell {
  width: 33%;
  min-width: 50px;
  font-size: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  cursor: pointer;
}
.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.side-border {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}
.span-size {
  visibility: hidden; /* to get the right size of the play ground */
}
