#main {
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  min-width: 245px;
  min-height: 245px;
}
.cell {
  width: 33%;
  min-width: 50px;
  font-size: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  cursor: pointer;
}
.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.side-border {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}
.span-size {
  visibility: hidden; /* to get the right size of the play ground */
}
