body {
  height: 100vh;
  margin: 0;
}
.container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
h1 {
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 250px;
}
#btns-setup {
  text-align: center;
}
.btn-setup {
  background: #63ccff; /*https://material.io/color/#!/?view.left=0&view.right=0&primary.color=039BE5*/
  border: none;
  cursor: pointer;
  font-size: 1.7em;
  margin: 10px;
  padding: 10px;
}
.btn-setup:hover {
  background: #039be5;
}
.btn-setup:active {
  background: #006db3;
  color: white;
}
#btn-x, #btn-o {
  display: none;
  width: 65px;
  height: 65px;
  margin: 20px;
  font-size: 2em;
}
#main {
  width: 60vmin;
  height: 60vmin;
  margin: auto;
  /*margin-top: 10vh;*/
  flex-wrap: wrap;
  min-width: 245px;
  min-height: 245px;
  padding: 3%;
  display: none;
}
.cell {
  width: 33%;
  min-width: 50px;
  font-size: 15vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  cursor: pointer;
}
.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.side-border {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}
.span-size {
  visibility: hidden; /* to get the right size of the play ground */
}
#bottom-section {
  display: none;
  flex-wrap: wrap;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.bottom {
  margin: 0 3%;
}
.stats {
  margin: 0;
  text-align: center;
  padding: 5px;
  font-size: 1.3em;
}
.stats-owner {
  font-weight: bold;
  font-size: 1.2em;
}
#btn-reset, #btn-back {
  width: 70px;
  background: #63ccff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
#btn-back {
  display: none;
  margin: 10px auto;
  width: 50px;
}
#btn-reset:hover, #btn-back:hover {
  background: #039be5;
}
#btn-reset:active, #btn-back:active {
  background: #006db3;
  color: white;
}
#overlay { /*https://www.w3schools.com/howto/howto_css_overlay.asp*/
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    /*transition: all 3s ease;*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#overlay-text{
    font-size: 50px;
    color: white;
    text-align: center;
}
/* ====================== Media Queries ====================== */
@media screen and (min-width: 700px) {
  body {
    margin: 0 auto;
    width: 700px;
  }
  h1 {
    margin-bottom: 0;
  }
}
